.active {
    animation: glow 1s infinite alternate, scale 1s infinite alternate, fade 1s infinite alternate;
    -webkit-animation: glow 1s infinite alternate, scale 1s infinite alternate, fade 1s infinite alternate;
}

@keyframes glow {
    from {
        filter: brightness(.2);
        -webkit-filter: brightness(.2);
    }

    to {
        filter: brightness(1);
        -webkit-filter: brightness(1);
    }
}

@keyframes scale {
    from {
        transform: scale(.8);
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
    }

    to {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

@keyframes fade {
    from {
        opacity: 1.5;
    }

    to {
        opacity: 1;
    }
}