/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0px;
  max-height: 2px !important;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #acabab;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}


/* CSS */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

