@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Poppins', sans-serif; 
}

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

::-webkit-scrollbar {
    width: 5px; 
    max-height: 2px !important;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #acabab;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8a8a8a;
}
